.experience .experience-content {
    display: flex;
    flex-direction: column;
}

.experience-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align buttons to the left */
    margin-top: 20px; /* Add some spacing between experience and buttons */
}
